<main class="contenedor">
    <form action="/create-account" method="POST" class="default-form">
        <div class="campo">
            <label>Name</label>
            <input type="text" name="name" placeholder="Your Name">rs
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Your Email">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your Password">
        </div>
        <div class="campo">
            <label>Re-enter your Password</label>
            <input type="password" name="confirm" placeholder="Re-enter your password">
        </div>

        <div class="campo acciones">
            <a href="/login">Login</a>
        </div>

        <div class="campo">
            <input type="submit" value="Create Account" class="btn btn-azul">
        </div>
    </form>
</main>