<main class="contenedor">
 <form  method="POST" class="default-form">
        <div class="campo">
            <label>New Password</label>
            <input type="password" name="password" placeholder="Enter your new password" required>
        </div>

        <div class="campo">
            <input type="submit" value="save password" class="btn btn-azul">
        </div>

    </form>
</main>