<main class="contenedor">
 <form action="/reset-password" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="campo acciones">
            <a href="/login">Log In</a>
           
        </div>

        <div class="campo">
            <input type="submit" value="Reset Password" class="btn btn-azul">
        </div>

    </form>
</main>
   
